* {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: radial-gradient(circle at top, #2b0000, #000);
  color: #ffd700;
}

/* LOGIN */
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: #120000;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 25px #ff0000;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  border: none;
}

.login-card button {
  background: #b30000;
  color: gold;
  padding: 12px;
  border-radius: 8px;
  border: none;
  width: 100%;
}

/* CHAT */
.chat-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: #1a0000;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 15px red;
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.msg {
  background: #2b0000;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #100000;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.chat-input button {
  background: gold;
  color: black;
  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 8px;
}

.clear-btn {
  background: darkred;
  color: white;
  border: none;
  padding: 10px;
}
